<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AHORCADO POR GIF</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
   <header>
    <h1>El Ahorcado mas divertido</h1>
    <p>Bienvenidos al sitio web de GIF</p>
</header>

    <main role="main">
        @RenderBody()
    </main>

   
</footer>
<p>&copy; 2025 GIF y Iara. Todos los derechos reservados.</p>
</footer>   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
